<!DOCTYPE html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>Nature - Weird Website October 2024</title>
  <meta name="description" content="Wierd Website October 2024">
  <link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://heyloura.com/wwo-2024-01-nature/" >
  <link rel="octo:octothorpes" href="weirdweboctober" >
  <link rel="octo:octothorpes" href="Nature" >
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
    {{ if .RSSLink -}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
	  <meta name="color-scheme" content="dark">
<style>
:root {
  color-scheme: dark;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
img {
  max-width: 100%;
  height: auto;
}
html {line-height: 1.5;font-family: system-ui; background: #332D1A; color: white;}
body {min-width: 100vw;min-height: 100vh; width: 100%; height: 100%; padding: 0.4rem; overflow:hidden;}
h1, h2, h3, h4, h5, h6 {text-wrap: balance;}
p{padding-bottom: 0.5em;}
#instruction {
  position: absolute;
  top: 2vw;
  left: 2vw;
  line-height: 0;
  opacity: 1;
  font-size: 12px;
  margin-top: 1em;
  color: white;
}
#content {
    display: block;
    position: absolute;
    top: 10%;
    right: 10%;
    color: white;
    width: 90%;
    max-width: 70ch;
    background-color: rgba(0, 0, 0, 0.65);
    padding: 1em;
    overflow-x: auto;
    height: 100%;
}
	a {
		color: #8caaee;
	}
	a:visited {
		color: #babbf1;
	}
</style>
</head>

<body>
  <main id="content">
	  <div style="padding-bottom: 3em;">
	  <h1 style="padding-bottom: 1em;">Jumping along trees</h1>
	  <p>
		  When I was a child my father would take me and my sibling for long car rides on the weekend.
		  I would lean my head against the window and imagine jumping from treetop to treetop. Sometimes I was battling
		  fantastical creatures. Sometimes I was dancing wildly to whatever song my father had playing on the radio. 
		  I would find shapes in the branches and withdraw into my own little imaginary world.
	  </p>
	  <p>
		  These rides were often random. He'd come to an intersection somewhere and we would all take turns
		  randomly picking left or right trying to get him lost. He never was. To me, that was a superpower.
		  I'd get lost after leaving our neighborhood. 
	  </p>
	  <p>
		  Once, as a new driver, I was driving around with my sister and cousin we decided to try it out. I got hopelessly lost.
		  I didn't have a physical map but I did have my prepaid no-data cellphone on me.
		  I called my dad, described some landmarks and a couple of street names. He knew where I was and lead me back home.
	  </p>
	  <p>
		  As I said, a superpower.
	  </p>
	  <p>
		  P.S. As an adult I still daydream about jumping around the treetops.
	  </p>
	  <details><summary>Weird Web October 2024 Submissions</summary>
	  	<iframe aria-busy="true"
		      id="wwo-index"
		      src="/wwo-2024-00-index" 
		      loading="lazy"
		      onload="disappear(this)"></iframe>
	  </details>
	  <details><summary>Credits</summary>
	  	<p>Inspired by: <a href="https://codepen.io/chriscaldwell/pen/zWQVPo">Recursive Trees</a>
		<br/>Using: <a href="https://p5js.org/">P5.js</a>
		</p>
	  </details>
		</div>
  </main>
  <h1 id="instruction">Click to make a new forest</h1>
<script>
	/* Make the iframe hidden while loading  */
(async () => {
  let div = document.createElement('div');
  let ref = document.getElementsByTagName('base')[0] || 
            document.getElementsByTagName('script')[0];

  div.innerHTML = '<style> iframe { visibility: hidden; } </style>';
  ref.parentNode.insertBefore(div, ref);
})();  

/* Copy the contents of the iframe into the DOM and execute scripts  */
function disappear(frame) {
let body = (frame.contentDocument.body||frame.contentDocument);

frame.before(body);

frame.remove();
}
</script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.min.js"></script>
  <script>
	// Global Vars
	var fr = 60;
	var stage;
	var initialSize;
	// Colors
	var hue;
	var bgHue;
	// Tree
	var tree = [];
	var angle;

	// Setup
	function setup() {
		// Create Stage
		stage = createVector(document.body.offsetWidth, document.body.offsetHeight); 
		createCanvas(stage.x, stage.y);
	  	frameRate(fr);
	
		// Set Background Color
		colorMode(HSB);
		mousePressed();
		//resize();
	}
		
	// TREE
	function branch(len, w, a, b) {
		var myHue =  bgHue.x + 60 + random(-15, 15);
		myHue = createVector(correctRotation(myHue), 50, b);	
			
		strokeWeight(w);
		strokeCap(ROUND); // SQUARE OR PROJECT
		stroke(myHue.x, myHue.y, myHue.z);
	
		line(0, 0, 0, -len);
		translate(0, -len);
	
		if (len > 10) {
			push();
			var len1 = len * random(.99, .45);
			var w1 = w * random(.9, .5);
			var a1 = angle + random(-.4, 0);
			var b1 = b * 1.15;
			rotate(a1);
			branch(len1, w1, a1, b1);
			pop();
	
			push();
			var len2 = len * random(.99, .45);
			var w2 = w * random(.9, .5);
			var a2 = angle + random(-.4, 0);
			var b2 = b * 1.15;
			rotate(-a2);
			branch(len2, w2, a2, b2);
			pop();
		}
		
		noLoop();
	}
	
	// Update Canvas
	function draw() {
		// clear();	
		background(bgHue.x, bgHue.y, bgHue.z);
		angle = PI / 6;

		push();

		var count = random(3, 6);
		for(var i = 0; i < count; i++ ) {
			// Draw Tree
			push();
			translate(width/random(1, 5), height);
			branch(height/6, width/50, angle, 20);				
			pop();
		}
		
		pop();
	}
	
	
	// MOUSE EVENTS
	function mousePressed() {
		hue = 360 + random(360);
		bgHue = createVector(correctRotation(hue), 80, 10);
		var shade_factor = 10;
		background(bgHue.x, bgHue.y, bgHue.z);
		document.querySelector('html').style.backgroundColor = 'rgb(' + bgHue.x * (1 - shade_factor) + ',' + bgHue.y * (1 - shade_factor) + ',' + bgHue.z * (1 - shade_factor) + ')';
		draw();
	}
	
	
	// UTILITIES
	// Correct Rotation – Works for colors and anything that uses 360 degree rotational values
	function correctRotation(deg) {
	/*
	  Corrects a rotation and if it:
	  exceed 360 degrees or is less than 0
	*/
	  if (deg > 360) {
	    deg -= 360;
	  } else if(deg < 0) {
	    deg += 360;
	  } 
	  return(deg);
	}
	
	// Handle Window Resize
	function resize () {
	  resizeCanvas(window.innerWidth, window.innerHeight);
		if(window.innerWidth>window.innerHeight) {
			// initialSize = window.innerWidth/5;	
		} else {
			// initialSize = window.innerHeight/5;		
		}
	}
  </script>
  <script src='https://tinylytics.app/embed/ty-z3nCjHzz9nhTen2UU.js?hits' defer></script>
</body>

</html>
