<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <title>CSS - Weird Website October 2024</title>
  <meta name="description" content="Wierd Website October 2024">
  <link rel="preload" as="fetch" href="https://octothorp.es/?uri=https://heyloura.com/wwo-2024-02-css/" >
  <link rel="octo:octothorpes" href="weirdweboctober" >
  <link rel="octo:octothorpes" href="CSS" >
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
    {{ if .RSSLink -}}
      <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
      <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
      <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
      <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
    {{ end -}}
	<link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
	<link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
	<link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
	<link rel="micropub" href="https://micro.blog/micropub" />
	<link rel="microsub" href="https://micro.blog/microsub" />
	<link rel="webmention" href="https://micro.blog/webmention" />
	<link rel="subscribe" href="https://micro.blog/users/follow" />
	  <meta name="color-scheme" content="light">
</head>

<body alink="green" link="orange" topmargin="50" leftmargin="50" rightmargin="50" bgcolor="AntiqueWhite" >
  <table border="1" cellpadding="4" cellspacing="1">
    <thead bgColor="LightYellow" color="white">
      <tr><th colspan="2">
<center>
  <h1><big>I don't need <blink><acronym title="Cascading Style Sheet"><font color="tomato">CSS</font></acronym></blink></big></h1>
  <h2><small><font family="cursive"><a href="https://heyloura.com">HeyLoura</a>: A Standard's Rebel</font></small></h2>
</center>
      </th></tr>
    </thead>
    <tbody>
	    <tr>
		<td rowspan="3" bgColor="DarkOrange" valign="top">
		<big>Weird Web October<br/>2024 Submissions</big>
		<iframe aria-busy="true"
		      id="wwo-index"
		      src="/wwo-2024-00-index" 
		      loading="lazy"
			width="140"
		      onload="disappear(this)"></iframe>
		</td>
		            <td bgColor="black" align="center">
		<h2><font color="white">This is an ode to before.</font></h2>
		<p><font color="white">A time when the HTML standard allowed you to style a webpage.
		<br>You were not burdened with adding a style sheet, and table layouts reigned supreme.
		<br>Now such whimsy disappears.</font></p>
		<p><img src="https://heyloura.com/uploads/2024/beware.gif" width="114" height="37" alt="Gif flashing a 'Beware' in red text with a fake blood effect"/></p>
		<p><font color="white">
			Others are warned away from this path: 
			<br/><big>ignore the deprecations at your own peril.</big>
		</font>	
		</p>
		<p><img src="https://heyloura.com/uploads/2024/screenshot-2024-10-05-123609.png" width="600" height="128" alt="scrrenshot of a deprecation notice on mdn"></p>
		<table >
			<thead>
				<tr>
					<th>
						<p><img src="https://heyloura.com/uploads/2024/1stplacemedal.gif" width="100" height="160" alt=""></p>
					</th>
					<th colspan="2"><img src="https://heyloura.com/uploads/2024/2ndplacemedal.gif" width="100" height="160" alt=""></th>

				</tr>
			</thead>
			<tbody>
				<tr valign="top">
					<td ><center>
						<p><font color="white">The height of excellence</font>
							<marquee color="coral"><h3><font color="white">The humble <tt>marquee</tt> tag</font></h3></marquee>
						</p>
						<p><font color="white">100% proven to distract<br/> your website visitors</font>
						</p>
					</center>
					</td>
					<td align="center">
						<p><font color="white">Attributes</font></p>
						<dir compact>
							<li><font color="white"><tt>bgColor</tt></font></li>
							<li><font color="white"><tt>align</tt></font></li>
							<li><font color="white"><tt>valign</tt></font></li>
						    	<li><font color="white"><tt>alink</tt></font></li>
							<li><font color="white"><tt>link</tt></font></li>
							<li><font color="white"><tt>topmargin</tt></font></li>
							<li><font color="white"><tt>leftmargin</tt></font></li>
							<li><font color="white"><tt>border</tt></font></li>
							<li><font color="white"><tt>cellpadding</tt></font></li>
							<li><font color="white"><tt>cellspacing</tt></font></li>
						    </dir>
					</td>
					<td align="center">
						<p><font color="white">Tags</font></p>
						<dir compact>
							<li><font color="white"><tt>&lttt&gt</tt></font></li>
							<li><font color="white"><tt>&ltfont&gt</tt></font></li>
							<li><font color="white"><tt>&ltcenter&gt</tt></font></li>
							<li><font color="white"><tt>&ltdir&gt</tt></font></li>
							<li><font color="white"><tt>&ltstrike&gt</tt></font></li>
						    	<li><font color="white"><tt>&ltacronym&gt</tt></font></li>
							<li><font color="white"><tt>&ltbig&gt</tt></font></li>
						    </dir>
					</td>
				</tr>
			</tbody>
		</table>
		</td>
	    </tr>
      <tr>
	<td bgcolor="Cornsilk" align="center">
<p><font color="Sienna">As browsers, with their march forward, leave behind such <strike>treasures</strike> things.
		<br>One day, dear visitor, you will visit this page and see
		<br>the colors gone and the blinking text stilled.
		</font>
		</p>
		<p><font color="Sienna">And a DVD logo that will never have the chance to hit the corner.
		</font>
		</p>
		<marquee bgColor="black"
  direction="down"
  width="500"
  height="400"
  behavior="alternate">
  <marquee behavior="alternate"><img src="https://heyloura.com/uploads/2024/ktjx8q4lc.png" height="80" width="80" alt=""></marquee>
</marquee>
	<p><font color="Sienna">P.S. the bouncing logo is a <tt>&ltmarquee&gt</tt> tag.</font></p>	
	</td>

      </tr>
	    <tr bgColor="Cornsilk"><td>
		    <p>Elements that did not work in edge or chrome when I tested them.</p>
		    <p><center><img src="https://heyloura.com/uploads/2024/rip.gif" width="90" height="110" alt=""></center></p>
	    <dir>
		<li><tt><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frame">Frame</a></tt> & <tt><a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/frameset">Frameset</a></tt></li>
	    	<li><tt><a href="https://developer.mozilla.org/en-US/docs/Glossary/blink_element">Blink</a></tt></li>
	    </dir>
	    
	    </td></tr>
      <tr><td bgColor="black" colspan="2"><font color="white">Gifs are from <a href="https://gifcities.org">gifcities</a></font></td></tr>
    </tbody>
  </table>
  <script>
  	/* Make the iframe hidden while loading  */
  (async () => {
    let div = document.createElement('div');
    let ref = document.getElementsByTagName('base')[0] || 
              document.getElementsByTagName('script')[0];
  
    div.innerHTML = '<style> iframe { visibility: hidden; } </style>';
    ref.parentNode.insertBefore(div, ref);
  })();  
  
  /* Copy the contents of the iframe into the DOM and execute scripts  */
  function disappear(frame) {
  let body = (frame.contentDocument.body||frame.contentDocument);
  
  frame.before(body);
  
  frame.remove();
  }
  </script>
  <script src='https://tinylytics.app/embed/ty-z3nCjHzz9nhTen2UU.js?hits' defer></script>
</body>
</html>
